
<div class="display row left" style="margin: auto; background: beige;">
    <div class="col-xl-1"></div>
    <div class="display col-xl-5">
        <app-section [tittle]="'Be_Agro'" [Information]="textTop"></app-section>
    </div>
    <div class="img col-xl-5">
        <img  src="../../../assets/images/arroz1.jpg" alt="">
    </div>
</div>
<div class="contents container">
    <div class="row">
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/environment.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Amigable con el Planeta
              </h5>
              <p>
                Es una idea tomando conciencia de la situacion de calentamiento global que tenemos actualmente y que permite bajar el consumo de agua en los cultivos de arroz
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img class="circle-img" src="../../../assets/images/man.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Optimizacion
              </h5>
              <p>
                Optimizamos las tareas del agricultor colombiano
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/tractor.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Implementacion de Tecnologias
              </h5>
              <p>
                Aplicamos el uso de tecnologias como IoT y TI.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/water.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Reduccion del gasto de Agua
              </h5>
              <p>
                Bajamos un 60% el consumo de agua para los cultivos de arroz.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="display row left" style="margin: auto; background: beige;">
    <div class="col-xl-1"></div>
    <div class="img col-xl-5">
        <img src="../../../assets/images/tecnologia.jpg" alt="">
    </div>
    <div class="display col-xl-5">
        <app-section [tittle]="'Ventajas'" [Information]="textEnd"></app-section>
    </div>
</div>