
<div class="display row left" style="margin: auto; background: beige;">
    <div class="col-xl-1"></div>
    <div class="display col-xl-5">
        <app-section></app-section>
    </div>
    <div class="img col-xl-5">
        <img  src="../../../assets/images/arroz1.jpg" alt="">
    </div>
</div>
<div class="contents container">
    <div class="row">
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/earth.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Cardiology
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img class="circle-img" src="../../../assets/images/agriculture.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Diagnosis
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/tractor.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Surgery
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
                <img class="circle-img" src="../../../assets/images/water.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                First Aid
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="display row left" style="margin: auto; background: beige;">
    <div class="col-xl-1"></div>
    <div class="img col-xl-5">
        <img src="../../../assets/images/tecnologia.jpg" alt="">
    </div>
    <div class="display col-xl-5">
        <app-section></app-section>
    </div>
</div>