<div class="row target" *ngIf="newDataLG && newDataLG">
    <mat-card class="col col-lg-6 col-xl-6" *ngIf="newDataLG && newDataLG">
        <canvas baseChart width="500" height="400"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
        </canvas>
          
    </mat-card>
    
    <mat-card class="example-card col col-lg-6 col-xl-6">
        <mat-card-title>Grafica del estado actual de Be_Agro</mat-card-title>
        <mat-card-subtitle>Modulos y sensores</mat-card-subtitle>
        <mat-card-content>
          <p>Esta grafica analiza las ultimas 7 mediciones de humedad de suelo y luz encontrada en el cultivo de arroz</p>
          <br>
          <p>Indica los resultados de las ultimas 7 recolecciones de datos acerca de la luz solar y humedad de suelo en el cultivo de arroz,
            en esta grafica podemos identificar el comportamiento de las mediciones, y revizar sus variantes para sacar reportes y estudiar las
            diferentes variantes presentadas en cuanto a las dos variables.
          </p>
        </mat-card-content>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">1</th>
              <th scope="col">Registro</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><span>Promedio de Luz ambiente</span></td>
              <td><span style="background-color: #dbdddf;">{{getPromedio('LDR') | number}}%</span></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><span>Ultimo dato de Luz registrado:</span></td>
              <td>{{sensorLuz.LightLevel}}%</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><span>Nivel de luz:</span></td>
              <td *ngIf="sensorLuz && sensorLuz.LightLevel > 70" colspan="2"><p><span  class="color2">Dia</span> ☀️</p></td>
              <td *ngIf="sensorLuz && sensorLuz.LightLevel >= 40  && sensorLuz.LightLevel <= 70" colspan="2"><p><span class="color4">Nublado</span> 🌤️</p></td>
              <td *ngIf="sensorLuz && sensorLuz.LightLevel < 40" colspan="2"><p><span class="color3">Noche</span> ☪️</p></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><span>Promedio de humedad:</span></td>
              <td><span style="background-color: #86c7f3;">{{getPromedio('FT') | number}}%</span></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td><span>Ultimo dato de humedad registrado:</span></td>
              <td *ngIf="sensorFT && sensorFT.GroundMoisture > 60" colspan="2"><p><span class="color1">Optimo</span> 👍</p></td>
              <td *ngIf="sensorFT && sensorFT.GroundMoisture <= 60" colspan="2"><p><span style="background-color:#e46565">Baja Humedad</span> 👎</p></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td><span>Estado del sistema: </span></td>
              <td *ngIf="stateBomb && stateBomb.active" colspan="2"><p><span class="color1">La Bomba de riego esta Trabajando</span> <i class="fas fa-tint fa-2x water"></i></p></td>
              <td *ngIf="stateBomb && !stateBomb.active" colspan="2"><p><span class="color2">La Bomba de riego esta desactivada</span> <i class="fas fa-tint-slash fa-2x water"></i></p></td>
            </tr>
          </tbody>
        </table>
        <div>
          <h3>Importante:</h3>
          <p>Los valores pueden variar por la sincronizacion de las consultas en los servicios</p>
        </div>
      </mat-card>
</div>