
<h1 class="mat-h1">Graficas</h1>
<div class="grid-container container-fluid">
    <div class="row col-12">
        <div *ngIf="initPieChart" class="col-12 col-lg-5 col-xl-5">
            <canvas baseChart
                [type]="'pie'"
                [datasets]="pieChartDatasets"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="true">
            </canvas>
        </div>
        <div class="col-12 col-lg-5 col-xl-5">
            <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [type]="'bar'">
            </canvas>
        </div>
        <div class="col-12 col-lg-5 col-xl-5">
            <canvas baseChart
                [datasets]="radarChartDatasets"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [type]="'radar'">
            </canvas>
        </div>
        <div class="col-12 col-lg-5 col-xl-5">
            <canvas baseChart
            [datasets]="polarAreaChartDatasets"
            [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend"
            [options]="polarAreaOptions"
            [type]="'polarArea'">
            </canvas>
        </div>  
    </div>
  </div>
  